@charset 'UTF-8'

$color-pack = false

@import '~vuetify/src/stylus/main'


// Variables

body-font = 'Roboto'
header-font = 'Unica One'

dark-color-primary = rgba(0,0,0,0.87)
dark-color-secondary = rgba(0,0,0,0.56)
dark-color-tertiary = rgba(0,0,0,0.34)
dark-color-border = rgba(0,0,0,0.12)

light-color-primary = rgba(255,255,255,1)
light-color-secondary = rgba(255,255,255,0.7)
light-color-tertiary = rgba(255,255,255,0.5)
light-color-border = rgba(255,255,255,0.3)

color-white = rgb(255,255,255)

color-primary = rgb(42,27,61)
color-secondary = rgb(68,49,141)
color-tertiary = rgb(130,101,167)

color-accent-1 = rgb(216,63,135)
color-accent-2 = rgb(233,128,116)


// Styling

body {
    font-family: body-font, sans-serif
    
    a {
        color: color-accent-1
        text-decoration: none
        
        &:hover,
        &:focus,
        &:active {
            color: color-accent-2
        }
    }
    
    .header-type {
        font-family: header-font, sans-serif
        color: dark-color-secondary
        text-transform: uppercase
        
        &.light {
            color: light-color-secondary
        }
    }
}

.application {
    &.theme--light {
        background: transparent
    }
    
    #hero {
        height: 100vh !important
        
        .hero-desktop {
            height: 100%
            overflow: hidden
            position: relative
            
            .layer {
                background-position: bottom
                background-size: cover
                background-repeat: no-repeat
                width: 100%
                height: 100%
                position: fixed
                z-index: -1
                  
                &-01 {
                    background-image: url('/public/hero_03.png')
                    background-color: color-primary
                }
                &-02 {
                    background-image: url('/public/hero_02.png')
                }
                &-03 {
                    background-image: url('/public/hero_01.png')
                }
            }
        }
        
        .hero-header {
            position: relative
            top: 50%
        }
    }
    
    #intro {
        background: color-primary
        color: light-color-primary
        padding: 4rem 0 14rem
    }
    
    #skills {
        background: light-color-primary
        align-items: stretch
        margin-top: -10rem
        padding-bottom: 4rem
        
        .card {
            height: 100% !important
            padding: 2rem 1.5rem
        
            .skill-icon {
                height: 72px
                fill: color-tertiary
                margin-bottom: 1rem
            }
        }
    }
    
    #works {
        background: color-accent-1
        color: light-color-primary
    }
    
    #about {
        background: color-secondary
        align-items: stretch
        
        .parallax {
            height: 100% !important
        }
    }
    
    #contact {
        background: light-color-primary
    }
}